/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2025, 4:51:45 PM
    Author     : plazma
*/

    table.search-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th.search-th, td.search-td {
    padding: 10px;
    text-align: left;
    color: #333;
}

select{
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #444;
}
